/**
 * @file    {{{ mock_file_cpp }}}
 * @brief   Implementation of a mock class for {{{ interface }}} interface.
 *
 * @copyright Copyright (c) 2023
 *
 */

#include "{{{ mock_file_hpp }}}"

{{{ namespaces_begin }}}

{{{ template }}}{{{ template_class_name }}}::{{{ class_name }}}() = default;
{{{ template }}}{{{ template_class_name }}}::~{{{ class_name }}}() = default;

{{{ namespaces_end }}}
